.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
}

.inputBox {
  position: relative;
  margin-bottom: 1rem;
}

input {
  width: 100%;
  height: 3rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: none;
  border-bottom: 2px solid #ccc;
  transition: all 0.3s ease;
}

input:focus {
  outline: none;
  border-bottom: 2px solid #2b2d42;
}

.has-value + span,
input:focus + span {
  transform: translateY(-2.5rem);
  font-size: 1rem;
  color: #2b2d42;
}

span {
  position: absolute;
  bottom: 0.5rem;
  left: 1rem;
  font-size: 1.2rem;
  color: #ccc;
  transition: all 0.3s ease;
}

button {
  margin-top: 2rem;
  width: 100%;
  height: 3rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: #0077b3;
  border: none;
  border-radius: 0.3rem;
  transition: all 0.3s ease;
}

button:hover {
  cursor: pointer;
  background-color: #0077b3;
}

div {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #0a0a0a;
}

.reghere {
  font-weight: bold;
  color: #2b2d42;
  margin-top: 1rem;
  text-align: center;
}

.reghere:hover {
  cursor: pointer;
  text-decoration: underline;
}

.alt-login {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.alt-login a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  color: #fff;
  background-color: #c6c7d8;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.alt-login a:hover {
  cursor: pointer;
  background-color: #a5a7bb;
}
