body{
  background-color: #fff;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  background-color: #F4E3E3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 20px;
  color: #000;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav li {
  margin: 0 10px;
}

.nav li a {
  text-decoration: none;
  color: #000
  ;
  font-weight: bold;
  font-size: 16px;
}
.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.image-section img {
  width: 100%;
  max-width: 500px;
}

.text-section {
  width: 50%;
  margin-right: 50px;
}
/* footer */
.signup-btns {
  background-color: #0095c6;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-btns:hover {
  background-color: #0077b3;
}

/* index.css */
#services {
  background-color: #f9f9f9;
  padding: 50px;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.services-container div {
  width: 23%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.services-container img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.services-container h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.services-container p {
  font-size: 16px;
  line-height: 1.5;
}

.about-page {
  background-color: #f5f5f5;
  padding: 30px;
}

.about-page h1 {
  font-size: 36px;
  color: #333;
}

.about-page h2 {
  font-size: 24px;
  color: #666;
}

.about-page p {
  font-size: 16px;
  color: #777;
}
